PORT=3000
VAPID_PUBLIC_KEY=BAizpmcM7Ee7PJJpCPXsK87gb-6W_7rkdTCquN93kkwD_f0zVFBolHgmuhfwNiZ02Hu7EpK-o6pd3bCDUqDcqGo
VAPID_PRIVATE_KEY=i9OkGtMr7g30snqz09VwGAeRZHMnI0QUdo27z0w02pQ
VAPID_MAILTO=mailto:admin@example.com
